
    <link href="https://mobcandy.app/cash/css/ui_style.css" type="text/css" rel="stylesheet" />
    <div class="wrap-text">
      <div class="banner">
        <img data-v-0e780689="" src="https://lh3.googleusercontent.com/DOO_tdUk-uAbh2CUtEL_pCq8aJkl_wm2gYpAthiqBLpQFdmc_rpQlyOhVZgK4zctwxQ=s180" onerror="this.onerror=null;this.src = 'http://hot.onlinemovieweb.com/videobuddy/1554126450551-eb8c09a451204-default-avatar.png';" class="avatar">
        <span data-v-0e780689="" class="name">ScanBuddy Invite!</span>	 
      </div>
      <div class="main-top-message">
        <p>Dear Friend,</p>
        <p>I've earned ₹500 in ScanBuddy App, Join me to earn ₹5000+ monthly! Install now to Get ₹500 Immediately!</p>
      </div>
      <div class="slide-box">
        <ul>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mBO7O0ayPtgZCYAmtizrJenXjS4YB71ckdMKqEu=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Maaz Imam</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹325</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mALq7L49GwICiH_jIeBjatE4AXXhQfYuhMpqW6f=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Krishna Sai</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹350</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh6.googleusercontent.com/-nc8XDMtAUrA/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdkc13t_-Jl3I7ykteRwZzQS9Yx-A/s96-c/photo.jpg" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Maaz Imam</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹325</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mAGb2OhiUJDpHDBnt0td23RAGCplMjtCeQDR0sf=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Aman Sewda</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹550</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/-zDwvtQD53eU/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfb1_Xqhp-QhzBmrrCGy3gTcQbGCQ/s96-c/photo.jpg" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Nabanita Hati</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹400</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mAGb2OhiUJDpHDBnt0td23RAGCplMjtCeQDR0sf=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Ajay Tanwar</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹325</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mBO7O0ayPtgZCYAmtizrJenXjS4YB71ckdMKqEu=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Krishna Sai</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹725</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mALq7L49GwICiH_jIeBjatE4AXXhQfYuhMpqW6f=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Maaz Imam</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹550</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh6.googleusercontent.com/-nc8XDMtAUrA/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdkc13t_-Jl3I7ykteRwZzQS9Yx-A/s96-c/photo.jpg" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Maaz Imam</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹350</strong>
          </li>
          <li>          	
            <img data-v-54e8cdf2="" src="https://lh3.googleusercontent.com/a-/AAuE7mAGb2OhiUJDpHDBnt0td23RAGCplMjtCeQDR0sf=s96-c" onerror="this.src = 'http://hot.onlinemovieweb.com/videobuddy/1552309176883-977e6b7d32344-default-avatar.png'; this.error=null;">
            <span data-v-54e8cdf2="" class="name">Ashok Raj</span> <span data-v-54e8cdf2="" class="nowrap">just redeemed</span> <strong data-v-54e8cdf2="">₹400</strong>
          </li>
          
        </ul>
      </div>
      <div class="cn_w_box">
        <h1 class="prs-num">50.00 <span>Rs</span></h1>
        <div class="btn"> 
          <a href="https://play.google.com/store/apps/details?id=com.apps.scanbuddy"><img src="https://mobcandy.app/cash/images/dollor.png"/> Get Money Now</a>	 
        </div>
        <div data-v-2e9dedb1="" class="dot-split circle"></div>
        <div class="steps">
          <h2><img src="https://mobcandy.app/cash/images/des-1.png"/> <span>Only 2 Steps</span> <img src="https://mobcandy.app/cash/images/des-2.png"/></h2>
          <table width="100%" border="0">
            <tbody>
              <tr>
                <td>
                  <img src="https://mobcandy.app/cash/images/step1.png" alt="img" /> 
                  <p>Install ScanBuddy</p>
                </td>
                <td>
                  <img src="https://mobcandy.app/cash/images/step2.png" alt="img" /> 
                  <p>Get PayTm Money</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://mobcandy.app/cash/js/jQuery.scrollText.js"></script>
    <script type="text/javascript">
      $(function(){
      	$(".slide-box").scrollText({
      		'duration': 1400
      	});
      });
    </script>
