<!DOCTYPE html>
<html>
  <head>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index, follow"/>
    <title>ScanBuddy - Admin Panel</title>
    <meta name="keywords" content="cashpandas,free cash,paytm,paypal">
    <meta name="description" content="Download CashPanda and Get unlimited free Paytm, Paypal Cash by Offerwall, GK Quiz and Games"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    
    <%= csrf_meta_tags %>
    <link href="https://start-angular.github.io/sb-admin-angular/preview/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->    
    <link href="https://start-angular.github.io/sb-admin-angular/preview/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- <link href="/css/metisMenu.min.css" rel="stylesheet"> -->
    <link href="https://start-angular.github.io/sb-admin-angular/preview/styles/sb-admin-2.css" rel="stylesheet">
    <!-- <link href="/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="https://start-angular.github.io/sb-admin-angular/preview/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">    

    <style type="text/css">
      .page-header{margin: 10px 0 15px !important;}
      .logout{
        width: 100%;
        border: none;
        background-color: white;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">ScanBuddy Admin</a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">    
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><%= button_to admin_logout_path, method: :delete,class:"logout" do %>
           Log Out
        <% end %></li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
            </button>
            </span>
          </div>
        </li>
         <li>
          <a class="" href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a class="" href="/admin/device_details"><i class="fa fa-mobile fa-fw" style="font-size: 24px;margin-left: -7px;"></i>Device Details</a>
        </li>
        <li>
          <a class="" href="/admin/user_details"><i class="fa fa-user fa-fw"></i> User Details</a>
        </li>
        <li>
          <a class="" href="/admin/app_opens"><i class="fa fa-mobile fa-fw" style="font-size: 24px;margin-left: -7px;"></i> App Open</a>
        </li>
        <li>
          <a class="" href="/admin/recently_addeds"><i class="fa fa-history fa-fw"></i> Recently Added</a>
        </li>
        <li>
          <a class="" href="/admin/qr_data"><i class="fa fa-qrcode fa-fw"></i>Scanned Qr</a>
        </li>
        <li>
          <a class="" href="/admin/generated_qrs"><i class="fa fa-qrcode fa-fw"></i>Generated Qr</a>
        </li>        
        <li>
          <a class="" href="/admin/favourites"><i class="fa fa-heart fa-fw"></i> Favourites</a>
        </li>
        
        <li>
          <a class="" href="/admin/app_banners"><i class="fa fa-tablet fa-fw" style="font-size: 20px;margin-left: -2px;"></i>App Banner</a>
        </li>
        <!-- <li>
          <a class="" href="#/offer_trackers"><i class="fa fa-bar-chart-o fa-fw"></i> Offer Trackers</a>
        </li>
        <li>
          <a class="" href="#/today_earnings"><i class="fa fa-cart-arrow-down fa-fw"></i> Earnings Today</a>
        </li>        
        <li>
          <a class="" href="#/gerine_offers"><i class="fa fa-desktop fa-fw"></i> Gerine Offers</a>
        </li> -->        
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>

      <%= yield %>
    </div>
    <script src="https://start-angular.github.io/sb-admin-angular/preview/bower_components/jquery/dist/jquery.min.js"></script>
<!-- <script src="/js/jquery.min.js"></script> -->
<script src="https://start-angular.github.io/sb-admin-angular/preview/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="/js/jquery.min.js"></script> -->
<script src="https://start-angular.github.io/sb-admin-angular/preview/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- <script src="/js/metisMenu.min.js"></script> -->
<script src="https://start-angular.github.io/sb-admin-angular/preview/js/sb-admin-2.js"></script>
<!-- <script src="/js/sb-admin-2.js"></script> -->
  </body>
</html>