<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="index, follow" />
    <meta name="author" content="scansbuddy.app">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <title>ScanBuddy App-QR Code Scanner|Earn Cashback,Rewards</title>
    <meta name="keywords" content="ScanBuddy,PubgUC,FreeFire Diamonds,CODCP,Elite Royale Pass,Paytm,Paypal" />
    <meta name="description" content="ScanBuddy-QR & Barcode Scanner can scan and read all QR codes / barcode types including text, url, ISBN, product, contact, calendar, email, location, Wi-Fi and many more." />    
    
    <!-- Facebook Card Data -->          
    <meta property="og:title" content="ScanBuddy App-QR Code Scanner|Earn Cashback,Game Rewards" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:image" content="https://scansbuddy.app/images/logo.png" />
    <meta property="og:url" content="https://scansbuddy.app/invite/d4e3b6f188c6/?by=facebook" />
    <meta property="og:description" content="ScanBuddy-QR & Barcode Scanner can scan and read all QR codes / barcode types including text, url, ISBN, product, contact, calendar, email, location, Wi-Fi and many more." />
    <meta property="og:site_name" content="scansbuddy.app" />
    <meta property="fb:app_id" content="540640679842976" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="ScanBuddy App-QR Code Scanner|Earn Cashback,Game Rewards">
    <meta itemprop="description" content="ScanBuddy-QR & Barcode Scanner can scan and read all QR codes / barcode types including text, url, ISBN, product, contact, calendar, email, location, Wi-Fi and many more.">
    <meta itemprop="image" content="https://scansbuddy.app/images/logo.png">    

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
