<!DOCTYPE html>
<html>
  <head>
    <title>ScanBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Scans Buddy is your ultimate companion for managing and organizing all your scans and documents efficiently.">
    <meta name="keywords" content="scans, document management, file organization, scan buddy, digital documents,QR code, QR code scanner, QR code generator, QR code reader, QR code app, QR code maker, Barcode scanner, Barcode reader, Barcode generator, QR code creator, QR code tools, QR code management, Digital scanning, Mobile scanning, Scan QR codes, Create QR codes, Scan barcodes, Generate QR codes, QR code utility, QR code software, QR code services, Smart QR codes, Dynamic QR codes">
    <meta name="author" content="MindGeeks Tech LLP">
     <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <link rel="canonical" href="https://www.scansbuddy.app">

   <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://www.scansbuddy.app",
      "name": "ScanBuddy",
      "description": "ScanBuddy is your ultimate companion for managing and organizing all your scans and documents efficiently.",
      "author": {
        "@type": "Person",
        "name": "MindGeeks Tech LLP"
      }
    }
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
